@import 'tailwindcss/base';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  @apply font-body;
  @apply relative;
}


#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


section.content {
  @apply py-8;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
