@import 'tailwindcss/base';

html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
}

#__next {
  // ..
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


section.content {
  @apply py-8;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
